# Jupyter Notebook Checkpoints
*checkpoint.ipynb

# macOS system file
.DS_Store

# Python virtual environment
venv/

# Specific files in Week_3 to ignore
Week_3/Derivative(Optimal).py
Week_3/Finally.py
"Week_3/without optax.py"